
.entity-viewer .name-wrapper
{
    font-size: larger;
    text-align: center;
}

.entity-viewer .name-wrapper .name
{
    font-weight: bold;
}

.entity-viewer .pics img
{
    max-width: 120px;
    max-height: 120px;
    padding: 3px;
}

